<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/report.css">
    <title>Tilikartta</title>
  </head>
  <body>
    <h1>Tilikartta</h1>
    {{#accounts}}
    {{account_id}} - {{account_title}}<br>
    {{/accounts}}
  </body>
</html>
