<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <title>Massikone</title>
  </head>
  <body>
    <div class="container">
      <h1>Tietoja Massikoneesta</h1>
      <p>Massikone on selaimella käytettävä, ilmainen
        kirjanpito-ohjelma. Sen tarkoitus on tehdä kirjanpito
        mahdollisimman helpoksi pienelle yhdistykselle, jonka jäsenet
        eivät koe erityistä mielenkiintoa aihetta kohtaan. Jäsenet
        voivat jättää kulukorvauksia suoraan kamerakännykästä helpolla
        lomakkeella ja tilinpäätös tositearkistoineen tulostuu nappia
        painamalla.</p>
      <h2>Yksityisyys ja tietoturva</h2>
      <h3>Google-tilit</h3>
      <p>Massikone tallentaa Google-tilisi tiedoista ainoastaan nimen
        ja käyttäjänumeron. Se joutuu pyytämään oikeuden julkisiin
        Google-profiilitietoihisi, sillä muuten Google ei anna nimeä
        ollenkaan. Muita profiilitietoja kuin nimeä ei tallenneta eikä
        käytetä mihinkään.
      </p>
      <p>Voit halutessasi käyttää peitenimellä tehtyä Google-tiliä. Se
        ei haittaa kirjanpitoa.</p>
      <h3>Sähköposti</h3>
      <p>Massikone ei lähetä sähköpostia eikä tallenna
        sähköpostiosoitteita.</p>
      <h3>Pankkitiedot</h3>
      <p>Jos haluat rahastonhoitajan korvaavan kulun pankkitilillesi,
        on suositeltavaa lähettää tilinumerosi hänelle jollakin
        turvallisella pikaviestimellä. Voit myös sisällyttää
        tilinumeron kulun kuvauskenttään. On suositeltavaa, että
        rahastonhoitaja poistaa tilinumeron kuvauskentästä korvattuaan
        kulun. Tilinumeroita ei tarvita kirjanpitoon, ainoastaan
        maksamiseen.</p>
      <p>Massikoneessa on toiminto, jolla rahastonhoitaja voi verrata
        verkkopankista saatuja tiliotteita kirjanpitoon huomatakseen
        puuttuvat tai virheelliset tositteet. Toiminto on toteutettu
        niin, että tiliote käsitellään kokonaan selaimessa eikä sitä
        lähetetä palvelimelle.</p>
      <h3>Kuvat</h3>
      <p>Massikoneeseen ladatuista kuvista poistetaan kameraan,
        kuvauspaikkaan ja aikaan liittyvät tunnistetiedot,
        tiedostonimi sekä muut tunnisteet.</p>
      <h3>Loki</h3>
      <p>Massikone pitää tavallista käyttölokia kuten kaikki muut
        web-palvelut. Ylläpitäjä päättää, miten pitkään ja missä lokia
        säilytetään.</p>
      <h3>Analytiikka</h3>
      <p>Massikone ei käytä analytiikkapalveluja. Kehittäjä ei kerää
        tietoja siitä, minne kaikkialle ohjelma on asennettu ja miten
        sitä käytetään.</p>
      <h3>Evästeet</h3>
      <p>Massikone tarvitsee evästeen ainoastaan sisäänkirjautumisen
        muistamiseen. Asetuksia tai seurantatietoja ei tallenneta
        evästeisiin.</p>
      <h3>Käyttäjätasot</h3>
      <p>Tavallinen käyttäjä näkee ainoastaan omat tositteensa.</p>
      <p>Ylläpitäjä näkee ja voi muokata kaikkien tositteita, poistaa
        tositteita sekä siirtää niitä käyttäjältä toiselle.</p>
      <h3>Henkilörekisterilaki ja GDPR</h3>
      <p>Massikone tallentaa listan käyttäjien nimistä. Nimilistan
        näkevät ylläpitäjät.</p>
      <p>Massikoneen lokiin jää tavalliset tiedot käyttäjien
        IP-osoitteista ja käyttöajankohdista. Lokin lukeminen ja
        säilöminen on kokonaan ylläpitäjän hallinnassa.</p>
      <h2>Muistakaa varmuuskopiot</h2>
      <p>Tietojen säilyminen ja oikeellisuus on täysin ylläpitäjän
        vastuulla. Muista ottaa säännöllinen varmuuskopio Massikoneen
        tietokannasta!</p>
      <h2>Vastuuvapautus</h2>
      <p>Ohjelma on tehty hyvää tarkoittaen ja normaalin varovaisuuden
        periaatteita noudattaen, mutta kehittäjä ei voi ottaa
        minkäänlaista vastuuta mistään ohjelman aiheuttamasta
        vahingosta.</p>
      <a class="btn btn-lg btn-info" href="/">Takaisin</a>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
