<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <title>{{AppTitle}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{AppTitle}}</h1>
      <h2>{{CurrentUser.FullName}}</h2>
      <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-info btn-lg" href="/tosite">Uusi tosite</a>
        {{#CurrentUser.IsAdmin}}
          <div class="btn-group">
            <button class="btn btn-info btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Raportit <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/raportti/tuloslaskelma">Tuloslaskelma</a></li>
              <li><a href="/raportti/tuloslaskelma-erittelyin">Tuloslaskelma erittelyin</a></li>
              <li><a href="/raportti/tase">Tase</a></li>
              <li><a href="/raportti/tase-erittelyin">Tase erittelyin</a></li>
              <li><a href="/raportti/paivakirja">Päiväkirja</a></li>
              <li><a href="/raportti/paakirja">Pääkirja</a></li>
              <li><a href="/raportti/tilikartta">Tilikartta</a></li>
              <li class="divider"></li>
              <li><a href="/raportti/tilinpaatos">Kaikki zip-tiedostona&hellip;</a></li>
              <li class="divider"></li>
              <li><a href="/vertaa">Vertaa tiliotteeseen&hellip;</a></li>
            </ul>
          </div>
          <a class="btn btn-info btn-lg" href="/asetukset">Asetukset</a>
        {{/CurrentUser.IsAdmin}}
        <a class="btn btn-info btn-lg" href="/tietoja">Tietoja</a>
        {{#IsPublic}}
          <button type="button" class="btn btn-info btn-lg" id="logout-button">Kirjaudu ulos</button>
        {{/IsPublic}}
      </div>
      <form id="logout-form" method="POST" action="/ulos" style="display: none"></form>
      {{^Bills}}
        <p>Ei tositteita</p>
      {{/Bills}}
      {{#Bills}}
        <h2>Kulut</h2>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Kulu</th>
              <th class="text-right">Pvm</th>
              <th class="text-right">&euro;</th>
              {{#CurrentUser.IsAdmin}}
              <th>Maksaja</th>
              {{/CurrentUser.IsAdmin}}
              <th>Kuvaus</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#Bills}}
              <tr class="clickable-row" data-href="/tosite/{{BillID}}" style="cursor: pointer">
                <td><a class="btn btn-default" href="/tosite/{{BillID}}">{{BillID}}</a></td>
                <td class="text-right">{{PaidDateFi}}</td>
                <td class="text-right">{{Amount}}</td>
                {{#CurrentUser.IsAdmin}}
                  <td>{{PaidUser.FullName}}</td>
                {{/CurrentUser.IsAdmin}}
                <td>{{Description}}</td>
                <td>
                  {{#image_missing}}
                    <span class="glyphicon glyphicon-paperclip"
                          title="Kuva puuttuu"></span>
                  {{/image_missing}}
                </td>
              </tr>
            {{/Bills}}
          </tbody>
        </table>
      {{/Bills}}
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bills.js"></script>
  </body>
</html>
