<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <title>{{AppTitle}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{AppTitle}}</h1>
      <h2>{{CurrentUser.FullName}}</h2>
      <h2>Vertaa tiliotteeseen</h2>
      <p>Lataa verkkopankista saamasi tiliotteet tälle sivulle. Näet, mille
        tilitapahtumille ei ole vastaavaa merkintää Massikoneessa.</p>
      <form id="compare-form">
        <div class="btn-group" id="compare-btn-group">
          <a class="btn btn-warning" href="/">Takaisin</a>
        </div>
      </form>
      <h2>Tulokset</h2>
      <table class="table table-bordered table-striped" id="entries">
        <thead>
          <tr>
            <th class="text-right">Pvm</th>
            <th class="text-right">&euro;</th>
            <th>Missä</th>
            <th>Kuvaus</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="alert alert-warning">
        <strong>Tietoturva:</strong> Tiliotteen
        käsittely tapahtuu kokonaan selaimessasi - tilitietoja ei ladata
        palvelimelle.
      </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.csv.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/pankkiparseri.js"></script>
    <script src="/static/js/compare.js"></script>
  </body>
</html>
